extends ../layout/app

block styles
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
    
    
block contenido 
    
    //- pre=JSON.stringify(paciente, undefine, 1)
    div(class="py-5")
        h1(class="text-4xl my-10 font-extrabold text-center")= 'Nombre del paciente: ' + paciente.nombre

        div 
            a(href="" class="font-bold text-gray-600 text-sm") Titular de seguridad social: 
                span(class="font-normal")=paciente.titularseguridadsocial.nombre
        div(class="mt-5 md:flex md:gap-4")
            div(class="md:w-2/3 bg-white shadow rounded-lg") 
                img(style="display: block; margin: auto; width: 200px; height: auto;" src=`/uploads/${paciente.imagen}`,alt= `Imagen del paciente ${paciente.imagen} `)

                div(class="px-5 py-10 space-y-5")
                    h6='Datos medicos del paciente: '+paciente.datomedico
                    

                    h2(class="text-2xl leading-6 font-bold text-gray-900") Informacion del paciente

                    div(class="grid grid-cols-1 md:grid-cols-2 space-y-2" ) 
                         p(class="text-gray-600 fond-bold text-1xl") Telefono del paciente:
                              span(class="text-gray-800 block text-lg")=paciente.numpaciente
                         p(class="text-gray-600 fond-bold text-1xl") Telefono para recados:
                              span(class="text-gray-800 block text-lg")=paciente.telrecados
                         p(class="text-gray-600 fond-bold text-1xl") Titular de Seguridad Social:
                              span(class="text-gray-800 block text-lg")=paciente.titularseguridadsocial.nombre
                         p(class="text-gray-600 fond-bold text-1xl") Direccion
                              span(class="text-gray-800 block text-lg")=paciente.calle
                         p(class="text-gray-600 fond-bold text-1xl") Compañia de seguros:
                              span(class="text-gray-800 block text-lg")=paciente.companyseguro.nombre
                         p(class="text-gray-600 fond-bold text-1xl") Seguridad social:
                              span(class="text-gray-800 block text-lg")=paciente.seguridadsocial.nombre
                         p(class="text-gray-600 fond-bold text-1xl") Correo:
                              span(class="text-gray-800 block text-lg")=paciente.correo
                         p(class="text-gray-600 fond-bold text-1xl") Paciente creado por:
                              span(class="text-gray-800 block text-lg")=paciente.usuario.nombre



            div(class="md:w-1/3") 
                h3(class="text-center py-10 leading-6 font text-gray-900") Ubicacion
                

                div(class="h-96" id="mapa") 
               
                
                    p(id="lat" class="hidden")=paciente.lat
                    p(id="lng" class="hidden")=paciente.lng
                
                div(class="p-5")
                    p(class="text-gray-600 fond-bold text-xs") Direccion:
                        span(id="calle" class="text-gray-800 block text-lg")=paciente.calle
block scripts
    script(src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js")
    script(src="/js/mostrarMapa.js")                                                             